{% load static %}

<!DOCTYPE html>
<html lang="es">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>{% block title %}MyBlog AdminLTE{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-6.2.0-web/css/fontawesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-6.2.0-web/css/brands.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-6.2.0-web/css/solid.min.css' %}">
  
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'plugins/adminlte/css/adminlte.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
  {% block cdnbasic %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button">
        <i class="fa-solid fa-bars" style="font-size: 1.5rem;"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="bi bi-power" style="font-size: 1.5rem;"></i>
          Logout
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'favicon.ico' %}" alt="Blog Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">MyBlog</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <nav class="mt-2 user-panel">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">gestion del blog</li>
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link">
                <i class="fas fa-dashboard" style="font-size: 2rem;"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'admin-articles' %}" class="nav-link">
                <i class="fas fa-newspaper" style="font-size: 2rem;"></i>
                    <p>Articulos</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'admin-categories' %}" class="nav-link">
                <i class="fas fa-chart-bar" style="font-size: 2rem;"></i>
                    <p>Categorias</p>
                </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% block subtitl %}{% endblock %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% block contenido %}{% endblock %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 0.1
    </div>
    <strong>Copyright &copy; ? <a href="/">MyBlog</a>.</strong> All rights reserved.
  </footer>


</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'plugins/adminlte/js/adminlte.min.js' %}"></script>


{% block scripts %}{% endblock %}
</body>
</html>
